<section class="user-board">
  <h2 class="board-title">Board title</h2>
  <div class="admin-wrapper">
    <button class="add-new-column">Add new column</button>
  </div>
  <ul class="columns-list">
    <app-board-column></app-board-column>
    <app-board-column></app-board-column>
  </ul>
</section>
