.user-board {
  margin-bottom: 100px;
}

.admin-wrapper {
  margin-bottom: 60px;
}

.board-title {
  text-align: center;
}

.add-new-column {
  border: none;
  background-color: lightblue;
  padding: 10px;
  margin-left: 50px;
  border-radius: 5px;

  &:hover {
    background-color: coral;

  }
}

.columns-list {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;

}

app-board-column {
  width: 30%;
  margin-right: 3%;
}


