.form-overlay {
  display: none;

}

.form-overlay-active {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}



.form-wrapper {
  width: 500px;
  background-color: #fff;
  position: relative;
}

.user-data-wrapper {
  margin-bottom: 70px;
}

.modal-form {
  padding: 0 20px;

  label {
    display: block;
    margin-bottom: 8px;
  }
}

.user-data,
.votes {
  input {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    font-size: 18px;
  }
}

.btn-modal-close {
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;

  &::before {
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    background-color: gray;
    top: 14px;
    left: 5px;
    position: absolute;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    background-color: gray;
    position: absolute;
    top: 14px;
    left: 5px;
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
    background-color: #dce3f1;
  }
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: 1px solid transparent;
  font-size: 16px;
}

.btn-create {
  width: 85px;

  margin: 0;
  background-color: #145cf2;
  // border: 1px solid transparent;
  border: inherit;
  padding: 0.6em;
  color: #fff;
  font-size: inherit;

  &:hover {
    cursor: pointer;
    background-color: #19479a;
  }
}


.btn-cancel {
  width: 70px;
  border: inherit;
  font-size: inherit;
  background-color: transparent;
  color: #5e5e71;

  &:hover {
    cursor: pointer;
    background-color: #dce3f1;
  }
}
