<div class="form-overlay"
[class.form-overlay-active]="isFormActive"
>
  <div class="form-wrapper" >
    <form action="#" method="POST" class="modal-form" [formGroup]="boardForm">
      <div class="modal-header">
        <h2 class="form-title">Create Board</h2>
        <button type="button" class="btn-modal-close" (click)="closeAddBoardForm()"></button>
      </div>

      <div class="user-data-wrapper">
        <p class="user-data">
          <label for="user-name">Name</label>
          <input type="text" name="user-name" id="user-name" formControlName="userName">
        </p>
      </div>

      <p class="nav-buttons">
        <button type="submit" class="btn-create" (click)="addBoard()">Create</button>
        <button type="button" class="btn-cancel" (click)="closeAddBoardForm()">Cancel</button>
      </p>
    </form>
  </div>

</div>
