<div class="boards-controlelr-wrapper">
  <section class="boards-controller">
    <p class="add-board-wrapper" (click)="onBoardAdd()">
      <button class="add-board-btn">+</button>
      <span>Add board</span>
    </p>
    <ul class="boards-list">
        <app-board-preview *ngFor="let board of boards$ | async"
        [boardCard]="board"
        (delete)="deleteBoard($event)"
        >
      </app-board-preview>
    </ul>
  </section>
</div>
