.boards-controlelr-wrapper {
  padding: 20px;
  padding-top: 1px;
}

.boards-controller {
  background-color: #f1f2f5;
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}

.add-board-wrapper:hover {
  border: 2px dashed #145cf2;
  cursor: pointer;

  .add-board-btn {
    background-color: #145cf2;
    color: #fff;
  }

  span {
    color: #145cf2;
  }
}

.add-board-wrapper {
  border: 2px dashed #c0c0d4;
  border-radius: 5px;
  width: 225px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 40px;

  span {
    font-size: 16px;
    color: #9595a2;
  }
}

.add-board-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #c0c0d4;
  font-size: 28px;
  margin-bottom: 10px;

  color: #9595a2;
}

.boards-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

app-board-preview {
  display: flex;
  flex-wrap: wrap;
}

// .board-item {
//   list-style: none;
//   width: 258px;
//   background: #fff;
//   vertical-align: top;
//   border-radius: 2px;
//   box-shadow: 0 2px 8px rgb(62 62 82 / 10%);
//   padding: 0 10px;
//   margin: 0 25px;

//   &:hover {
//     box-shadow: 0 2px 10px rgb(62 62 82 / 30%);
//   }
// }
