.column {
}

.column-header {
  position: relative;
  display: flex;
}

.active-card-color {
  // display: block;
  border: none;
  width: 20px;
  height: 20px;
  background-color: orange;
}

.colors-list {
  list-style: none;
  // position: absolute;
  // top: 18px;
  // left: 0;
  display: flex;
  padding: 10px 10px 8px;
  background: white;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 4px 16px rgb(62 62 82 / 10%);
  opacity: 0;
  // visibility: hidden;
  transition: all 0.4s;
}

.color {
  border: none;
  width: 20px;
  height: 20px;
}

.green-color {
  background-color: green;
}

.red-color {
  background-color: red;
}

.blue-color {
  background-color: blue;
}

.orange-color {
  background-color: orange;
}

.colors-list {
  margin: 0;
  padding: 0;
  display: none;
}

.column-header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 35px;
}

.column-title {
  margin: 0;
}

.delete-column {
  border: none;
  background-color: rgb(214, 30, 131);
  border-radius: 5px;
  padding: 5px;

  &:hover {
    background-color: rgb(181, 224, 22);
  }
}

.column-title-editor {
  display: none;
}

.card {
  background-color: orange;
  list-style: none;
}

.add-card-btn {
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 20px;

  &:hover {
    background-color: lightgreen;
  }
}

.cards-list {
  margin: 0;
  padding: 0;
}

.card-data {
  padding: 0 10px;
  position: relative;
}

.card-title {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  margin-bottom: 15px;
}

.card-nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  // text-align: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 12px;
  right: 5px;
}

.card-nav {
  border: none;
  margin: 0 15px;
  border-radius: 8px;

  &:hover {
    box-shadow: 0px 0px 0px 4px lightblue;
  }
}

.card-interactive-elements {
  // padding: 0 10px;
}

.card-nav-edit {
  background-color: rgb(11, 155, 124);
}

.card-nav-delete {
  background-color: rgb(235, 57, 57);
}

.interactive-elements {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
  width: 35%;
  margin-left: auto;
}

.new-comment {
  display: none;
  textarea {
    display: block;
    width: auto;
  }
}

.comment-data {
  display: none;
}

.card-editor {
  display: none;
}

.card-interactive-elements {
  padding: 15px 10px;
}

.votes, .comments {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.counter {
  font-size: 22px;
}

.vote-btn,
.add-comment-btn {
  border: none;
  background-color: transparent;
}

.add-comment-btn::before,
.vote-btn::before {
  content: "";
  display: block;
  // background-image: url(../../assets/images/icons/like.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 34px;
  height: 32px;
}

.vote-btn {
  &::before {
    //  content: "";
    //  display: block;
    background-image: url(../../assets/images/icons/like.png);
    //  background-size: 100%;
    //  background-repeat: no-repeat;
    //  width: 34px;
    //  height: 29px;
  }
}

.add-comment-btn {
  &::before {
    background-image: url(../../assets/images/icons/comment.png);
  }
}

.vote-btn:hover,
.add-comment-btn:hover {
  background-color: rgb(215, 236, 22);
}
