<div class="column">
  <div class="column-header">
    <button class="active-card-color"></button>
    <div class="colors-list">
      <button class="color green-color"></button>
      <button class="color red-color"></button>
      <button class="color blue-color"></button>
      <button class="color orange-color"></button>
    </div>
    <div class="column-header-wrapper">
      <h3 class="column-title">Column</h3>
      <button class="delete-column">Remove column</button>
    </div>

    <div class="column-title-editor">
      <input type="text" value="" class="column-input input-header">
      <button class=""></button>

    </div>

  </div>
  <p>
    <button class="add-card-btn">+</button>
  </p>
  <ul class="cards-list">
    <li class="card">
      <div class="card-data">
        <h4 class="card-title">Card title</h4>
          <p class="card-nav-menu">
            <button class="card-nav card-nav-edit">Edit card</button>
            <button class="card-nav card-nav-delete">Delete card</button>
          </p>
        <div class="card-interactive-elements">
          <div class="interactive-elements">
            <p class="votes">
              <button class="vote-btn"></button>
              <span class="counter">0</span>
            </p>
            <p class="comments">
              <button class="add-comment-btn"></button>
              <span class="counter">0</span>
            </p>
          </div>
          <p class="new-comment">
            <textarea name="" cols="40" rows="3" placeholder="Enter your comment..."></textarea>
            <button class="submit-comment-btn">Submit comment</button>
          </p>

        </div>
        <div class="comment-data">
          <span class="created-comment">Comment</span>
          <p class="comment-buttons">
            <button class="edit-comment">Edit comment</button>
            <button class="delete-comment">Delete comment</button>
          </p>
        </div>

      </div>

      <input type="text" class="column-input card-editor">
    </li>
  </ul>
</div>
