<!-- Ретро борд, типа инстумент для проведения ретроспектив. возможность создавать колонки и задачи в них,
  перетаскивать задачи между колонками, оставлять комент к задачам, отмечать лайками,
  и сохраненние состояние ( Доп задача сделать экспорт в файлик)
Пример : https://easyretro.io/features/
PS только сам борд, без всего администрирования -->

<app-modal-form ></app-modal-form>
<router-outlet></router-outlet>
  <!-- <app-boards-controller></app-boards-controller>
  <app-modal-form ></app-modal-form>
  <app-board></app-board> -->
