.board-item {
  list-style: none;
  width: 258px;
  background: #fff;
  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgb(62 62 82 / 10%);
  padding: 0 10px 20px;
  margin: 0 15px 25px;

  &:hover {
    box-shadow: 0 2px 10px rgb(62 62 82 / 30%);
  }



}

.board-title {
  margin: 0;
  padding-top: 20px;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.board-info {
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.created-date {
  // position: relative;
  display: flex;

  &::before {
    content: "";
    // position: absolute;
    display: block;
    background-image: url("../../assets/images/icons/clock.png");
    background-size: 100%;
    // background-color: black;
    // top: 0;
    // left: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.columns-data {
  // border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding: 20px 0;
}

.columns-preview-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0 10px;
}

.column {
  display: block;
  width: 42px;
  height: 100px;
  background-color: red;
  border-radius: 2px;
  margin: 5px;
  position: relative;

  // &:first-child{
  //   margin-left: 0;
  // }

  .columns-tooltip {
    display: none;
  }

  &:hover {
    .columns-tooltip {
      position: absolute;
      display: block;
        top: 50%;
        left: 80%;
        z-index: 10;
        // display: none;
        min-width: 60px;
        padding: 5px;
        color: white;
        text-align: center;
        pointer-events: none;
        background-color: #333;
        border-radius: 3px;
        z-index: 3;
    }
  }
}

.archive-btn {
  border: none;
  width: 70px;
  min-height: 25px;
  font-family: Arial;
  background-color: rgb(36, 7, 7);
  color: #fff;
  border-radius: 3px;
  text-align: center;
  display: block;
  margin: 0 auto;
 cursor: pointer;

  &:hover {
    background-color: gray;
    color: khaki;
  }
}
