<li #listItem class="board-item">
  <a [routerLink]="['/', boardCard.id]">
    <h3 class="board-title">{{boardCard.title}}</h3>
    <p class="board-info">
      <span class="created-date">{{boardCard.date | date : 'd MMMM'}}</span>
      <span class="cards-count">{{boardCard.cardsCount ? boardCard.cardsCount + ' cards': '' }}</span>
    </p>
    <div class="columns-data">
      <ul class="columns-preview-list">
        <li class="column">
          <span class="columns-tooltip">Stop 2</span>
        </li>
      </ul>

    </div>

  </a>

  <button type="button" class="archive-btn" (click)="removeBoardCard(boardCard.id)">Remove</button>
</li>
